$def with(xdfile,isIn,road,username)
<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 500px;
        width: 100%;
        border:gray 2px solid;
        border-radius:2px;
       }
       input,button{
       border-radius:5px;
       padding:5px;
       margin:2px;
       color:black;
              background:white;
       border:black 1px solid;
       }
    </style>
  </head>
  <body>
  <div style="float:left">
    <h3>XD parkour memory</h3>
    $if road != 'false':
        <a href="./xdmemory?road=false"><button>谷歌卫星</button></a>
    $if road == 'false':
        <a href="./xdmemory"><button>谷歌道路</button></a>
    <a href="./xdmemory?map=baidu"><button>百度地图</button></a>
  </div><br>
  $if isIn == 0:
      <div style="float:right">
        <form action="xdmemory" method="post">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <button onclick="submit()">登录上传视频</button>

        </form>
      </div>
  $if isIn != 0:
        <div style="float:right">
            Welcome,$:username!
        </div>
<div id="map"></div>
    <script>
    		function xd_init(xd){
        $for ename,lat,lng,detail in xdfile:
            $if road == 'false':
                 xd.set('$:ename',{lat:$:lat+0.001509, lng:$:lng-0.0047,detail:'$:detail'});
            $else:xd.set('$:ename',{lat:$:lat, lng:$:lng,detail:'$:detail'});
        }
      function initMap() {
        var uluru = {lat: 34.123893, lng: 108.833509};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14.7,
          center: uluru,
          $if road != 'false':
               mapTypeControlOptions: {
                   mapTypeIds: ['roadmap']
                    },
                mapTypeId:'roadmap'
          $if road == 'false':
               mapTypeControlOptions: {
                   mapTypeIds: ['satellite']
                    },
		       mapTypeId: 'satellite'
        });
		var xd = new Map();

		xd_init(xd);


		xd.forEach(function(value,key,mapoj){
		var marker = new google.maps.Marker({
          position: value,
          map: map,
          title:value['detail'],
    animation: google.maps.Animation.DROP

        });
        var contentString = '<h4>'+value['detail']+'</h4><a href=./xdmemory?location='+key+'><img src=../static/images/'+key+'.jpg style="width:300px"/></a>'
         var inforwindow = new google.maps.InfoWindow({
    content: contentString,
    maxWidth:500
  });
		marker.addListener("click",function(){
		inforwindow.open(map,marker);
		});
		});


      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=your_key8&callback=initMap"
  async defer>
</script>
  </body>
</html>
