$def with(fileurl,location,isIn,username)
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style>

		#videos{
		text-align:center;
		}
	</style>
</head>
<body>
<script>var _location = '$:location'+'/';var username='$:username';</script>
<div id="videos" >
	$for url in fileurl:
		<video  width="70%" controls=""> <source src="$:url"/></video><br>
		<h5>$:url.split("/")[-1]</h5>
	$if len(fileurl) == 0:
		<h3>这个地方还没有人上传过视频！</h3>
		<img src="../static/images/$:(location).jpg" style="width:90%"/>

</div>
$if isIn == 1:
	<h4>您所选择的文件列表：</h4>
	<span id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</span>


	<div id="container">
		<a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
		<a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
	</div>

<pre id="console"></pre>

<p>&nbsp;</p>

</body>
<script type="text/javascript" src="../static/lib/crypto1/crypto/crypto.js"></script>
<script type="text/javascript" src="../static/lib/crypto1/hmac/hmac.js"></script>
<script type="text/javascript" src="../static/lib/crypto1/sha1/sha1.js"></script>
<script type="text/javascript" src="../static/lib/base64.js"></script>
<script type="text/javascript" src="../static/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="../static/upload.js"></script>
</html>
